.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-wrap {
  min-width: 320px;
  max-width: 640px;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.App>div {
  height: 100%;
}

.App-root {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  background: #f7f7f7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 50%;
  display: inline-block;
  background: #61dafb;
  height: 200px;
}
